tenancy_ocid = "ocid1.tenancy.oc1..aaaaaaaa-unique"
user_ocid = "ocid1.user.oc1..aaaaaaaapa-unique"
private_key_path = "~/.oci/oci_api_key.pem"
fingerprint = "94:c5:08:46:70:06:3e:a2:35:81:9b:19:81:dc:d0:d0"
region = "us-phoenix-1"
ssh_public_key_path = "~/.oci/oci_api_public_key.pem"
compute_instance_compartment_ocid = "ocid1.compartment.oc1..aaaaaaaapimuzameto44gl2slujk55a4z5clxr3pecjbgfal5wsnq5r545ga"
compute_instance_name = "k8s-toolkit-vm"
compute_instance_shape = "VM.Standard2.2"
compute_instance_source_image_ocid = ""
compute_instance_subnet_ocid = ""
