tenancy_ocid = "ocid1.tenancy.oc1..aaaaaaaa-unique"
user_ocid = "ocid1.user.oc1..aaaaaaaapa-unique"
private_key_path = "~/.oci/oci_api_key.pem"
fingerprint = "94:c5:08:46:70:06:3e:a2:35:81:9b:19:81:dc:d0:d0"
region = "us-phoenix-1"
ssh_public_key_path = "~/.ssh/id_rsa.pub"
vcn_ocid = ""
compartment_ocid = ""
# Source from https://docs.oracle.com/en-us/iaas/Content/ContEng/Concepts/contengaboutk8sversions.htm
k8s_version = "v1.20.11"
cluster_name = "tap-cluster"
compute_instance_shape = "VM.Standard.E4.Flex"
k8s_api_endpoint_subnet_ocid = ""
k8s_lb_subnet_ocid = ""
k8s_node_pool_subnet_ocid = ""